.DS_Store
/data/custom-addons
/data
/data/.DS_Store
data/odoo/backups/syncked/latrinidad_prd1.zip
data/odoo/backups/syncked/latrinidad_prd_20092019_1.zip
data/odoo/backups/syncked/latrinidad_prd_20092019_2.zip
data/odoo/backups/syncked/latrinidad_prd_20092019.zip
